.header {
  width: 100%;
  padding: 20px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: black !important;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 14px;
}

.link:hover,
.link:focus,
.link:visited {
  color: black !important;
  text-decoration: none !important;
}

.link:active {
  color: red !important;
  text-decoration: none !important;
}
